<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/public/login}" th:object="${user}" method="post">

        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required />

        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}" required />

        <button type="submit">Login</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
